.pos .pos-logo {
    height: 80%
 }

 .pos .pos-topheader {

    background: #F3E4A7;
    }

 .cash-move-button {
    color: black;
}
.ticket-button {
    color: black;
}
.pos .oe_status {
    color: black;
}
.pos .pos-rightheader .header-button {
    color: black;
}